<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://adamkostusiak.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>adamkostusiak.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>adamkostusiak</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName>$adamkostusiak</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects>
        <ObjectGroup Name="UsersConnect" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:zk46gm5zvi.database.windows.net,1433;Initial Catalog=adamkostusiak_db;User ID=baza@zk46gm5zvi;Password=Nestea93" Name="Data Source=tcp:zk46gm5zvi.database.windows.net,1433;Initial Catalog=adamkostusiak_db;User Id=baza@zk46gm5zvi;Password=Nestea93" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="WebApplication1.DAL.BazaUsersDAL, WebApplication1" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)UsersConnect-Web.config Connection String">
      <ParameterValue>Data Source=tcp:zk46gm5zvi.database.windows.net,1433;Initial Catalog=adamkostusiak_db;User Id=baza@zk46gm5zvi;Password=Nestea93</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>